@import url('https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,100..900&display=swap');
/* "Imbue", serif;*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Imbue:opsz,wght@10..100,100..900&display=swap');
/*font-family: "Dancing Script", cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+SA+Beginner:wght@400..700&family=Imbue:opsz,wght@10..100,100..900&display=swap');
/*font-family: "Edu SA Beginner", cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+SA+Beginner:wght@400..700&family=Imbue:opsz,wght@10..100,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/*"Merriweather", serif;*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+SA+Beginner:wght@400..700&family=Imbue:opsz,wght@10..100,100..900&family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: "Roboto", sans-serif;*/

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
.logo, .encabezado, .bienvenida{
    text-align: center;
    background-color: #F47570;
    padding: 5px;
}
.encabezado{
    font-family: "Dancing Script", cursive;
    font-size: auto;
    text-shadow: 0 0 5px black;
}
.bienvenida{
    font-family: "Merriweather", serif;
    font-size: auto;
}

.navbar{
    align-content: center;
}
.nav-link{
    color:white;
}
.active{
    color:grey;
}
.galeria{
    display: grid;
    font-size: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 180px);
    grid-template-areas: 
    "texto1 img3"
    "texto2 img1"
    "texto3 img2"

}

@media only screen and (min-width: 700px){
    .galeria{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 200px);
        grid-template-areas: 
        "img1 texto1 img2"
        "texto2 img3 texto3";
    }
}

.item{
    border: 2px solid #985357 ;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    font-family: "Roboto", sans-serif;
    text-shadow:0 0 5px #985357;

}

.item1{
    grid-area: img1;
    height: 250px;
    background-image: url(./assets/multimedia-inicio/img1.jpg);
}
.item2{
    grid-area: texto1;
    background-color:#F9CB9C;
}
.item3{
    grid-area: img2;
    height: 250px;
    background-image: url(./assets/multimedia-inicio/facemask_img2.jpg);
}
.item4{
    grid-area: texto2;
    background-color: #F9CB9C;
}
.item5{
    grid-area: img3;
    height: 250px;
    background-image: url(./assets/multimedia-inicio/img3.jpg);
}
.item6{ 
    grid-area: texto3;
    background-color: #F9CB9C;
}
.jumbo{
    text-align: center;
}
footer{
    background-color:#985357;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.suscribe, .newslewtter{
    align-content: center;
    color: aliceblue;
}
.botonF, .textoF{
    background-color: grey;
}
.makeCuerpo, .skinCuerpo{
    background-color:#F9CB9C;
    text-align: center;
    font-family: "Merriweather", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mas{
    color:black;
    
}

.imgMake{
    border-radius: 10px;
    padding: 5px;
}
.nombreProductos{
    font-weight: 50;
    font-size:large;
    padding: 5px;
    margin: 0%;
    text-decoration:double;
    color: black;
}
.precio{
    font-size: medium;
}
.cont{
    background-image: url(./assets/fondo-contacto.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
}
.contacto{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: black;
    padding: 20px;
}
.iconosC{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formComent{
    background-image: url(./assets/fondo_comentarios.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}
.form-label, .form-control{
    width: 400px;
    text-align: center;
    text-decoration:double;
}
